.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Desktop_Block {
  width: 500px;
  height: 500px;
  border: 1px black solid;
}

.Mobile_Block {
  width: 200px;
  height: 200px;
  border: 1px blue solid;
}

.Tablet_Block {
  width: 350px;
  height: 350px;
  border: 1px red solid;
}
